
  
  .buy-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid rgb(49, 43, 44);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:auto;
    margin-top: 60px;
    background-color: pink;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .buy-now-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buy-now-button:hover {
    background-color: #45a049;
  }

